---
import Layout from "../layouts/Layout.astro";
import Img from "../components/Img.astro";
import json from "../assets/routes.json";

const { routes } = json;
---

<Layout title="3DPKBD">
  <section class="col-span-12 grid grid-cols-3">
    {
      routes.map(({ slug, title, hero, kbdType, caseType }) => (
        <a href={slug} class="group">
          <Img imagePath={hero} title={`${title} 3D Printed Case`} />
          <span class="absolute bottom-0 left-0 group-hover:underline">
            {kbdType.slice(0, 1).toLowerCase()}
            {caseType}
          </span>
        </a>
      ))
    }
  </section>
</Layout>
