---
import Layout from "../layouts/Layout.astro";
import Img from "../components/Img.astro";
import json from "../assets/routes.json";

const { routes } = json;
---

<Layout title="3DPKBD">
  <section class="col-span-12 grid grid-cols-3">
    {
      routes.map((item) => (
        <a href={item.slug} class="group">
          <Img imagePath={item.hero} title={`${item.title} 3D Printed Case`} />
          <span class="absolute bottom-0 left-0 capitalize group-hover:underline">
            {item.kbdType.slice(0, 1)}—{item.caseType}
          </span>
        </a>
      ))
    }
  </section>
</Layout>
