---
import Layout from "../layouts/Layout.astro";
import Img from "../components/Img.astro";
import json from "../assets/cases.json";

const { types, data } = json;
---

<Layout title="3DPKBD">
  <section class="col-span-10 col-start-3 grid grid-cols-10">
    <aside class="grid justify-end gap-2">
      {
        types.map((name) => (
          <p class="flex w-[100px] items-center justify-center">type{name}</p>
        ))
      }
    </aside>
    <div class="col-span-9 grid grid-cols-3 gap-2">
      {
        data.map((item) => (
          <div class="aspect-[5/4]">
            <Img imagePath={item.imagePath} title="test" />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
<style>
  p {
    text-orientation: sideways;
    writing-mode: vertical-rl;
    transform: scale(-1);
  }
</style>
