---
interface Props {
  type: string;
  keyboard: string;
}

const { type, keyboard } = Astro.props;
---

<section data-type={type} data-keyboard={keyboard} class="canvas col-span-12 row-start-1 h-screen bg-[#000000]">
  <div class="absolute left-0 top-0 flex h-full w-full items-center justify-center bg-[#000000] transition-opacity duration-500" id="three-loading">
    <span>Loading</span>
  </div>
</section>

<script src="@three/index"></script>
